<h1>Record Protocol</h1>

<form action="/records" method="post">
  <table>
    <tr>
      <td align="right"><label for="name">Name:</label></td>
      <td>
        <select value="name">
          <%@protocols.each do |p|%>
            <option value="<%=p.id%>"><%=p.name%></option>
          <%end%>
        </select>
      </td>
    </tr>    
    <tr>
      <td align="right"><label for="heart_rate">Resting Heart Rate:</label></td>
      <td><input type="text" id="heart_rate" name="heart_rate"></td>
    </tr>
    <tr>
      <td align="right"><label for="bp_over">Blood Pressure Over:</label></td>
      <td><input type="text" id="bp_over" name="bp_over"></td>
    </tr>
    <tr>
      <td align="right"><label for="bp_under">Blood Pressure Under:</label></td>
      <td><input type="text" id="bp_under" name="bp_under"></td>
    </tr>
    <tr>
      <td align="right"><label for="mood_score">Mood Score:</label></td>
      <td><input type="text" id="mood_score" name="mood_score"></td>
    </tr>
    <tr>
      <td align="right"><label for="exercise_minutes">Exercise Minutes:</label></td>
      <td><input type="text" id="exercise_minutes" name="exercise_minutes"></td>
    </tr>
    <tr>
      <td align="right"><label for="water_unit">Water Unit:</label></td>
      <td><input type="text" id="water_unit" name="water_unit"></td>
    </tr>
    <tr>
      <td align="right"><label for="water_consumed">Water Consumed:</label></td>
      <td><input type="text" id="water_consumed" name="water_consumed"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" id="submit" name="Create Protocol"></td>
    </tr>
  </table>
</form>
