<h1>Record Protocol</h1>

<form action="/records" method="post">
  <table>
    <tr>
      <td align="right"><label for="name">Name:</label></td>
      <td>
        <input name="[protocol_data][name]" list="protocols">
        <datalist id="protocols">
          <%@protocols.each do |p|%>
            <option id="<%=p.id%>" value="<%=p.name%>"><%=p.description%></option>
          <%end%>
        </datalist>
      </td>
    </tr>    
    <tr>
      <td align="right"><label for="resting_heartrate">Resting Heart Rate:</label></td>
      <td><input type="number" min="0" id="resting_heartrate" name="[record_data][resting_heartrate]"></td>
      <td>bpm</td>
    </tr>
    <tr>
      <td align="right"><label for="bp_over">Blood Pressure Over:</label></td>
      <td><input type="number" min="0" id="bp_over" name="[record_data][bp_over]"></td>
    </tr>
    <tr>
      <td align="right"><label for="bp_under">Blood Pressure Under:</label></td>
      <td><input type="number" min="0" id="bp_under" name="[record_data][bp_under]"></td>
    </tr>
    <tr>
      <td align="right"><label for="mood_score">Mood Score:</label></td>
      <td><input type="number" min="0" max="100" id="mood_score" name="[record_data][mood_score]"></td>
    </tr>
    <tr>
      <td align="right"><label for="exercise_minutes">Exercise Minutes:</label></td>
      <td><input type="number" min="0" id="exercise_minutes" name="[record_data][exercise_minutes]"></td>
    </tr>
    <tr>
      <td align="right"><label for="water_consumed" >Water Consumed:</label></td>
      <td><input type="number" min="0" id="water_consumed" name="[record_data][water_consumed]"></td>
      <td><input type="text" id="water_unit" name="[record_data][water_unit]" list="water_units" value="oz"></td>
      <datalist id="water_units">
         <option value="oz">Ounces</option>
         <option value="cup">Cups</option>
         <option value="gallon">Gallons</option>
      </datalist>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create Record"></td>
    </tr>
  </table>
</form>
