<h1>Signup</h1>
<h2>Please provide a Username, email address and password</h2>
<form action="/signup" method="post">
  <table>
    <tr>
      <td><label for="username">Username:</label></td>
      <td><input type="text" name="username"><br><br></td>
    </tr>
    <tr>
      <td><label for="email">Email:</label></td>
      <td><input type="text" name="email"><br><br></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  
  <label for="password">Password:</label>
  <input type="text" name="password"><br><br>
  <input type="submit" value="Sign Up">
  </table>
</form>