<h1>Signup</h1>
<h2>Please provide a Username, email address and password</h2>
<form action="/signup" method="post">
  <table>
    <tr>
      <td align="right"><label for="username" >Username:</label></td>
      <td><input type="text" name="username"></td>
    </tr>
    <tr>
      <td align="right"><label for="email">Email:</label></td>
      <td><input type="text" name="email"></td>
    </tr>
    <tr>
      <td align="right"><label for="password">Password:</label></td>
      <td><input type="text" name="password"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Sign Up"></td>
    </tr>
  </table>
</form>