<h1>Here's your list of current Protocols</h1>

<table>
  <%Protocol.all.each do |p|%>
    <tr>
      <td align="right">Name:</td>
      <td><%=p.name%></td>
    </tr>
    <tr>
      <td align="right">Description:</td>
      <td><%=p.description%>  <a href="/protocols/<%=p.id%>"><button>View</button></a></td>
    </tr>
  <%end%>
</table>
