<h1>Create a new Protocol</h1>

<form action="/protocols" method="post">
  <table>
    <tr>
      <td align="right"><label for="name">Name:</label></td>
      <td><input type="text" id="name" name="name" value="<%=@params[:name]%>"></td>
    </tr>
    <tr>
      <td align="right"><label for="description">Description:</label></td>
      <td><input type="text" id="description" name="description" value="<%=@params[:description]%>"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create Protocol"></td>
    </tr>
  </table>
</form>
