<h1>Welcome to Health Protocol</h1>
<h3>Record a protocol that keeps track of key health vitals</h3>
<p>If you haven't already, sign up, log in and visit the links in the menu
bar above to view/edit/add Protocol names
</p>
<p>Once your protocol names are set up, visit the records menu where you can add/edit/delete
the records you'd like to keep on the vital health elements</p>